# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
.yarn/

# Build
dist/
.build/

# Editor
.vscode/
.idea/

# Environment
.env

# Python
__pycache__/
*.pyc

# Misc
*.log

# GitHub Pages artifacts
.page-build/
